app/bootstrap*
app/config/parameters.yml
projectFilesBackup
vendor/*
#composer.lock
#composer.phar
*/logs/*
*/cache/*
web/frontend
web/app.php
web/images/*
web/files
web/uploads/*
web/upload/*
web/bundles/*
web/css/*
web/js/*
web/dashboard/*

.DS_Store
.idea
.project
.plugins
.buildpath
.eclipse
.settings
.~lock*
atlassian-ide-plugin.xml
nbproject/*
build/*
